git+https://github.com/noricha-vr/MovieMaker.git@9fad5c0a556f8fc97adc9af8fe7efab5fd17c3bf
git+https://github.com/tiangolo/fastapi.git@41735d2de9afbb2c01541d0f3052c718cb9f4f30
google-cloud-storage==2.5.0
Jinja2==3.1.2
moviepy==1.0.3
pytest==7.1.3
python-multipart==0.0.5
selenium==4.5.0
source-converter>=0.1.11
uvicorn[standard]==0.18.3
webdriver-manager==3.8.4
opencv-python==4.6.0.66