git+https://github.com/noricha-vr/MovieMaker.git@2ab3a424afaca1f6ef6aa7690d36835648a71d93
fastapi==0.87.0
httpx==0.23.0
google-cloud-storage==2.5.0
Jinja2==3.1.2
moviepy==1.0.3
pytest==7.1.3
python-multipart==0.0.5
selenium==4.5.0
uvicorn[standard]==0.18.3
webdriver-manager==3.8.4
opencv-python==4.6.0.66