git+https://github.com/noricha-vr/MovieMaker.git@123a96e023357de1843b4f69df8bc568f4bcb76d
fastapi==0.85.1
google-cloud-storage==2.5.0
Jinja2==3.1.2
moviepy==1.0.3
pytest==7.1.3
python-multipart==0.0.5
selenium==4.5.0
source-converter==0.1.11
uvicorn[standard]==0.18.3
webdriver-manager==3.8.4
pyautogui # screenshot
