<!doctype html>
<html lang="{{ request.path_params.lang }}">
<head>
    <!-- Title -->
    <title>{% block title %}{% endblock %}</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="apple-mobile-web-app-title" content="{{ self.title() }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta http-equiv="content-language" content="{{ request.path_params.lang }}">
    <meta name="author" content="noricha">
    <link rel='canonical' href='{{ request.path }}'/>
    <meta property="og:site_name" content="{{ _("Web Screen|Web、画像、PDFをVRChatで見れる動画に変換！画面録画や画面共有にも対応") }}"/>
    <meta property="og:image"
          content="{{ _("https://storage.googleapis.com/noricha-public/web-screen/image/og-image/web-screen-ja.webp") }}"/>
    <meta property="og:url" content="{{ request.url }}"/>
    <!-- Custom meta tags -->
    {% block meta_tag %}
    {% endblock %}
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-W7D0GRPM2Y"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'G-W7D0GRPM2Y');
    </script>
    <!-- custom.css-->
    <link rel="stylesheet" href="/static/css/custom.css">
</head>
<body>
<header>
    <div class=" bg-light text-center">
        <a href="/" alt="{{ _("WebScreenトップページ") }}">
            <img src="https://storage.googleapis.com/noricha-public/web-screen/image/header-7.png" class="img-fluid"
                 alt="WebScreenロゴ" width="1000px" height="100px">
        </a>
    </div>
    <nav class="border-bottom border-top justify-content-center nav nav-pills navbar-light p-1">
        <a class="nav-link text-dark pb-1 pt-1" href="/{{ request.path_params.lang }}/">{{ _("ホーム") }}</a>
        <a class="nav-link text-dark pb-1 pt-1" aria-current="page"
           href="/{{ request.path_params.lang }}/web/">{{ _("Web") }}</a>
        <a class="nav-link text-dark pb-1 pt-1" href="/{{ request.path_params.lang }}/image/">{{ _("画像") }}</a>
        <a class="nav-link text-dark pb-1 pt-1" href="/{{ request.path_params.lang }}/pdf/">{{ _("PDF") }}</a>
        <a class="nav-link text-dark pb-1 pt-1" href="/{{ request.path_params.lang }}/recording/">{{ _("画面録画") }}</a>
        <a class="nav-link text-dark pb-1 pt-1" href="/{{ request.path_params.lang }}/streaming/">{{ _("画面共有") }}</a>
        <a class="nav-link text-dark pb-1 pt-1" href="/{{ request.path_params.lang }}/history/">{{ _("履歴") }}</a>
        <a class="nav-link text-white pb-1 pt-1" href="/{{ request.path_params.lang }}/github/">Git</a>
    </nav>
</header>

{% block content %}

{% endblock %}

<footer style="background-color: darkgrey;" class="mt-5">
    <div class="container text-center">
        <a href="https://sites.google.com/view/vrc-personal-development/oss%E9%9B%86%E4%BC%9A" class="text-white"
           style="text-decoration:none;" target="_blank">{{ _("Powered by OSS集会") }}</a>
    </div>
</footer>

<!-- Custom script -->
{% block script %}{% endblock %}

<!-- Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>
</html>