{% extends 'base.html' %}
{% block title %}Web Screen|VRChatでGithubリポジトリのソースコードを表示{% endblock %}
{% block content %}


<div class="container">
    <section class="section mt-5">
        <div class="row justify-content-md-center">
            <div class="col mt-3">
                <h1 class="h1 mb-5">Web Screen</h1>
                <h2 class="h3 mb-3">共有したいウィンドウを選択してください。</h2>
            </div>
        </div>
        <p>This example shows you the contents of the selected part of your display.
            Click the Start Capture button to begin.</p>

        <p>
            <button id="start">Start Capture</button>&nbsp;<button id="stop">Stop Capture</button>
        </p>
        <h2>Video</h2>
        <video id="video" width="400px" height="300px" autoplay></video>
        <h2>Canvas</h2>
        <canvas id="canvas" width="400px" height="300px"></canvas>
        <h2>Image</h2>
        <img id="photo" alt="The screen capture will appear in this box.">
        <br>
        <div class="mt-3">
            2.このURLをVRChatの動画プレイヤーに貼り付ける<br/>
            <a id="player_url"></a>
        </div>

        <strong>Log:</strong>
        <br>
        <pre id="log"></pre>

        <script src="/static/js/desktopCapture.js"></script>
        <!--        {% include 'result.html' %}-->
    </section>
</div>


{% endblock %}