{% extends 'base.html' %}
{% block title %}Web Screen|VRChatでGithubリポジトリのソースコードを表示{% endblock %}
{% block content %}


<div class="container">
    <section class="section mt-5">
        <div class="row justify-content-md-center">
            <div class="col mt-3">
                <h1 class="h1 mb-5">Web Screen</h1>
                <h2 class="h3 mb-3">共有したい画面を選んでください</h2>
                <div class="mt-3 mb-3">
                    共有を開始したらこのURLをVRChatの動画プレイヤーに貼り付けてください<br/>
                    <a id="player_url"></a><br/>
                    ※ ブラウザでは動画が再生されません。VRChatの動画プレイヤーで再生してください。
                </div>
            </div>

        </div>
        <p>
            <button class="btn btn-primary" id="start">共有開始</button>&nbsp;
            <button class="btn btn-danger" id="stop">停止</button>
        </p>
        <h2>Video</h2>
        <video id="video" width="400px" height="300px" autoplay></video>
        <h2>Canvas</h2>
        <canvas id="canvas" width="400px" height="300px"></canvas>
        <h2>Image</h2>
        <img id="photo" alt="The screen capture will appear in this box.">
        <br>


        <!--        <strong>Log:</strong>-->
        <br>
        <pre id="log"></pre>

        <script src="/static/js/desktopCapture.js"></script>
        <script src="/static/js/baseFunctions.js"></script>
        <!--        {% include 'result.html' %}-->
    </section>
</div>


{% endblock %}