{% extends 'base.html' %}
{% block title %}Web Screen|VRChatでGithubリポジトリのソースコードを表示{% endblock %}
{% block content %}
<div class="container">
    <section class="section mt-5">
        <div class="row justify-content-md-center">
            <div class="col mt-3">
                <h1 class="h1 mb-5">Web Screen</h1>
                <h2 class="h3 mb-3">動画化したいGitHubプロジェクトのURLを貼り付けてください</h2>
            </div>
        </div>


    </section>
</div>
{% endblock %}

{% block script %}
<script src="/static/js/baseFunctions.js">
    addEventListeners();
</script>
{% endblock %}