{% extends 'base.html' %}
{% block title %}{{ _("Web Screen|VRChatの動画プレイヤーに動画化したGitHubのソースコードを表示できます") }}{% endblock %}
{% block meta_tag %}
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://web-screen.net/github/"/>
    <meta name="description"
          content="Web ScreenはVRChatでウェブページを表示するためのシステムです。URLを入力すると動画に変換してくれます。
          変換された動画のURLをVRChat内の動画プレイヤーに貼り付けると、ウェブページを表示できます。
          ウェブページの他に画像やPDFの変換、パソコンの画面共有もできます。">
    <meta property="og:description"
          content="Web ScreenはVRChatでウェブページを表示するためのシステムです。URLを入力すると動画に変換してくれます。
          変換された動画のURLをVRChat内の動画プレイヤーに貼り付けると、ウェブページを表示できます。
          ウェブページの他に画像やPDFの変換、パソコンの画面共有もできます。">
    <meta property="og:image"
          content="https://storage.googleapis.com/noricha-public/web-screen/image/web-screen-og-image.png"/>
{% endblock %}
{% block content %}
    <div class="container">
        <section class="section mt-5">
            <div class="row justify-content-md-center">
                <div class="col mt-3">
                    <h1 class="h1 mb-5">{{ _("Web Screen(Beta)") }}</h1>
                    <h2 class="h4 mb-3">{{ _("VRChatの動画プレイヤーにGitHubのソースコードを表示できます") }}</h2>
                    <h3 class="h5 mb-3">{{ _("動画化したいGitHubプロジェクトのURLを貼り付けてください") }}</h3>
                </div>
            </div>
            <form class="row g-3 justify-content-md-center">
                <div class="col-12 bg-light border col-12 p-5 rounded">
                    <div class="mb-3 row">
                        <div for="url" id="paste_button" class="btn btn-secondary col-3 col-sm-2 col-form-label">
                            {{ _("貼り付け") }}
                        </div>
                        <div class="col-9 col-sm-10">
                            <input type="url" class="col-10 form-control  border border-dark" id="url" name="url"
                                   placeholder="https://">
                        </div>
                    </div>
                    <label for="targets" class="">{{ _("表示したいファイル名やファイルタイプをチェックしてください") }}</label><br>
                    <input type="checkbox" class="me-2" id="md" name="targets[]" value="*.md"><label
                        for="md">*.md</label>
                    <input type="checkbox" class="me-2" id="py" name="targets[]" value="*.py"><label
                        for="py">*.py</label>
                    <input type="checkbox" class="me-2" id="java" name="targets[]" value="*.java"><label for="java">*.java</label>
                    <input type="checkbox" class="me-2" id="c" name="targets[]" value="*.c"><label for="c">*.c</label>
                    <input type="checkbox" class="me-2" id="cs" name="targets[]" value="*.cs"><label
                        for="cs">*.cs</label>
                    <input type="checkbox" class="me-2" id="cpp" name="targets[]" value="*.cpp"><label
                        for="cpp">*.cpp</label>
                    <input type="checkbox" class="me-2" id="html" name="targets[]" value="*.html"><label for="html">*.html</label>
                    <input type="checkbox" class="me-2" id="css" name="targets[]" value="*.css"><label
                        for="css">*.css</label>
                    <input type="checkbox" class="me-2" id="js" name="targets[]" value="*.js"><label
                        for="js">*.js</label>
                    <input type="checkbox" class="me-2" id="ts" name="targets[]" value="*.ts"><label
                        for="ts">*.ts</label>
                    <input type="checkbox" class="me-2" id="json" name="targets[]" value="*.json"><label for="json">*.json</label>
                    <input type="checkbox" class="me-2" id="xml" name="targets[]" value="*.xml"><label
                        for="xml">*.xml</label>
                    <input type="checkbox" class="me-2" id="php" name="targets[]" value="*.php"><label
                        for="php">*.php</label>
                    <input type="checkbox" class="me-2" id="rb" name="targets[]" value="*.rb"><label
                        for="rb">*.rb</label>
                    <input type="checkbox" class="me-2" id="sh" name="targets[]" value="*.sh"><label
                        for="sh">*.sh</label>
                    <input type="checkbox" class="me-2" id="sql" name="targets[]" value="*.sql"><label
                        for="sql">*.sql</label>
                    <input type="checkbox" class="me-2" id="txt" name="targets[]" value="*.txt"><label
                        for="txt">*.txt</label>
                    <input type="checkbox" class="me-2" id="csv" name="targets[]" value="*.csv"><label
                        for="csv">*.csv</label>
                    <input type="checkbox" class="me-2" id="yaml" name="targets[]" value="*.yaml"><label for="yaml">*.yaml</label>
                    <input type="checkbox" class="me-2" id="toml" name="targets[]" value="*.toml"><label for="toml">*.toml</label>
                    <input type="checkbox" class="me-2" id="ini" name="targets[]" value="*.ini"><label
                        for="ini">*.ini</label>
                    <input type="checkbox" class="me-2" id="dockerfile" name="targets[]" value="*.dockerfile"><label
                        for="dockerfile">Dockerfile</label><br>
                    <div class="mt-3 text-center">
                        <div id="submit" class="btn btn-primary d-block">{{ _("動画を作成") }}</div>
                    </div>
                    <div class="progress visually-hidden">
                        <div class="progress-bar bg-info" role="progressbar" id="progress_bar" aria-valuenow="0"
                             aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
                    </div>
                    {% include 'output-area.html' %}
                </div>
            </form>
        </section>
    </div>
{% endblock %}

{% block script %}
    <script src="/static/js/util.js"></script>
    <script src="/static/js/baseFunctions.js"></script>
    <script src="/static/js/github.js"></script>
{% endblock %}