{% extends 'base.html' %}
{% block title %}Web Screen|VRChatでGithubリポジトリのソースコードを表示{% endblock %}
{% block content %}
<div class="container">
    <section class="section mt-5">
        <div class="row justify-content-md-center">
            <div class="col mt-3">
                <h1 class="h1 mb-5">Web Screen</h1>
                <h2 class="h3 mb-3">動画化したいGitHubプロジェクトのURLを貼り付けてください</h2>
            </div>
        </div>
        <form class="row g-3 justify-content-md-center" method="get" action="/api/create_github_movie/">
            <div class="col-12">
                <label for="url" class="visually-hidden">URL</label>
                <input type="url" class="form-control border border-dark mb-3" id="url" name="url"
                       placeholder="https://github.com/noricha-vr/source_converter">
                <label for="targets" class="">表示したいファイル名やファイルタイプをカンマ区切りで入力してください</label>
                <input type="text" class="form-control border border-dark" id="targets" name="targets"
                       value="README.md,*.py">
                <div class="form-group mt-3">
                    <label for="width">ブラウザサイズ（横×縦）</label>
                    <input type="number" class="form-inline border" id="width" name="width"
                           value="1280"> x
                    <label for="width" class="visually-hidden">ブラウザサイズ（横×縦）</label>
                    <input type="number" class="form-inline border" id="height" name="height"
                           value="720">
                    <label for="catch">キャッシュ</label>
                    <input type="checkbox" class="form-inline border" id="catch" name="catch" checked>
                </div>
            </div>
        </form>
        {% include 'result.html' %}
    </section>
</div>
{% endblock %}

{% block script %}
<script src="/static/js/baseFunctions.js"></script>
<script src="/static/js/github.js"></script>
<script>addEventListeners()</script>
{% endblock %}
