{% extends 'base.html' %}
{% block title %}{{ _("Web Screenの変換履歴を確認") }}{% endblock %}
{% block meta_tag %}
    <meta property="og:title" content="{{ _("Web Screenの変換履歴を確認") }}"/>
    <meta property="og:type" content="article"/>
    <meta name="description"
          content="{{ _("Web Screenで変換した動画の履歴を確認できます。") }}
          {{ _("変換した動画は14間サーバーに保存されます。") }}
          {{ _("動画をダウンロードすることで、パソコンに保存したり、Twitterに投稿できます。") }}">
    <meta property="og:description"
          content="{{ _("Web Screenで変換した動画の履歴を確認できます。") }}
          {{ _("変換した動画は14間サーバーに保存されます。") }}
          {{ _("動画をダウンロードすることで、パソコンに保存したり、Twitterに投稿できます。") }}">
{% endblock %}
{% block content %}

    <div class="container">
        <section class="section mt-5 mb-5">
            <div class="row mb-4">
                <div class="col text-center">
                    <h2 class="h1 mb-3">{{ _("履歴") }}</h2>
                    <h1 class="h6 text-secondary">
                        {{ _("過去に動画化したURLを「コピー」して、VRChatのプレイヤーに表示できます。") }}
                    </h1>
                </div>
            </div>
            <div class="row justify-content-md-center text-center">
                <div class="col mt-3">
                    <div id="results">
                        <div class="mb-3 row visually-hidden" name="result">
                            <div class="col-2">
                                <button name="copy_button" style="margin-right: 10px; margin-left: 5px"
                                        class="btn btn-outline-primary w-100">
                                    Copy
                                </button>
                            </div>
                            <div class="col-3 col-md-2">
                                <button name="copy_button"
                                        class="btn btn-outline-secondary w-100">
                                    Download
                                </button>
                            </div>
                            <div class="col-7 col-md-8">
                                <input type="text" name="movie_url"
                                       value="" name="url" class="form-control"
                                       onclick="window.open(this.textContent, '_blank');"
                                       readonly>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                {{ _("履歴は動画を作成してから14日で消えます。") }}
                {{ _("ダウンロードして自分のパソコンに動画を保存したり、Twitterに投稿できます。") }}
            </div>
        </section>
    </div>
{% endblock %}

{% block script %}
    <script src="/static/js/util.js"></script>
    <script src="/static/js/history.js"></script>
{% endblock %}