{% extends 'base.html' %}
{% block title %}履歴 Web Screen|VRChatの動画プレイヤー用に変換した動画の履歴{% endblock %}
{% block content %}
    <div class="container">
        <section class="section mt-5 mb-5">
            <div class="row justify-content-md-center">
                <div class="col mt-3">
                    <h1 class="h1 mb-5 text-center">履歴</h1>
                    <div class="text-center">
                        <div id="result-message" class="mb-3 visually-hidden">
                            「コピー」して、VRChatのプレイヤーにペーストしてください。URLを選択すると動画を確認できます。
                        </div>
                        <div id="results">
                            <div class="mb-3 row visually-hidden" name="result">
                                <button for="url" name="copy_button"
                                        class="btn btn-outline-primary col-1 col-form-label">
                                    Copy
                                </button>
                                <div class="col-9">
                                    <a href="" target="_blank" class="form-control-plaintext" name="movie_url">
                                    </a>
                                </div>
                                <button for="url" name="copy_button"
                                        class="btn btn-outline-secondary col-auto col-form-label">
                                    Download
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block script %}
    <script src="/static/js/util.js"></script>
    <script src="/static/js/history.js"></script>
{% endblock %}