{% extends 'base.html' %}
{% block title %}Web Screen|VRChatの動画プレイヤー用にウェブページを動画化できます{% endblock %}
{% block content %}
    <div class="container">
        <section class="section mt-5">
            <div class="row justify-content-md-center">
                <div class="col mt-3">
                    <h1 class="h1 mb-5">Web Screen(Beta)</h1>
                </div>
            </div>
            <div class="row g-3 justify-content-md-center">
                {# TODO write LP #}
                <div class="col-12">
                </div>
            </div>
        </section>
    </div>
{% endblock %}