{% extends 'base.html' %}
{% block title %}Web Screen|VRChatの動画プレイヤー用にウェブページを動画化できます{% endblock %}
{% block content %}
    <style>

        a {
            text-decoration: none;
        }
    </style>
    <div class="">
        <div class="px-4 my-5 py-3 text-center" style="margin-top: 3rem; padding-top: 3rem;">
            <h1 class="display-5 fw-bold">WebScreen</h1>
            <div class="col-lg-6 mx-auto">
                <p class="h6 text-secondary mb-4">
                    {{ _("WebScreenはVRChatの動画プレーヤーにWebページや、写真、PDFを表示するための動画変換システムです。") }}<br/>
                <div>
                    <a href="/web/">
                        <img src="https://storage.googleapis.com/noricha-public/web-screen/image/icon/web.png"
                             class="top-icon" alt="{{ _("webページを動画に変換") }}">
                    </a>
                    <a href="/image/">
                        <img src="https://storage.googleapis.com/noricha-public/web-screen/image/icon/image.png"
                             class="top-icon" alt="{{ _("画像を動画に変換") }}">
                    </a>
                    <a href="/pdf/">
                        <img src="https://storage.googleapis.com/noricha-public/web-screen/image/icon/pdf.png"
                             class="top-icon" alt="{{ _("PDFを画像に変換") }}">
                    </a>
                    <a href="/record/">
                        <img src="https://storage.googleapis.com/noricha-public/web-screen/image/icon/record.png"
                             class="top-icon" alt="{{ _("画面録画をして、VRChatに共有") }}">
                    </a>
                    <a href="/streaming/">
                        <img src="https://storage.googleapis.com/noricha-public/web-screen/image/icon/streaming.png"
                             class="top-icon" alt="{{ _("VRChatに画面共有") }}">
                    </a>
                </div>
            </div>
        </div>

        <div class="row bg-light p-5">
            <div class="col-md-7">
                <a href="/web/" class="text-dark">
                    <h2 class="fw-bold">{{ _("Webページを動画に変換") }}</h2>
                </a>
                <p class="lead">
                    {{ _("Webページを動画に変換することで、VRChat内で動画プレイヤーを使ってそのページを表示することができます。") }}<br>
                    {{ _("また、シークバーを使うことでページ内をスクロールすることができます。") }}<br/>
                    {{ _("さらに、Webページを他のユーザーと共有することで、そのページを話題にすることができます。") }}
                </p>
            </div>
            <div class="col-md-5">
                <a href="/web/">
                    <img src="https://storage.googleapis.com/noricha-public/web-screen/image/big-icons/url.gif"
                         alt="{{ _("webページを動画に変換") }}" class="img-fluid"></a>
            </div>
        </div>
        <div class="row p-5">
            <div class="col-md-7 order-md-2">
                <a href="/image/" class="text-dark">
                    <h2 class="fw-bold">{{ _("写真を動画に変換") }}</h2>
                </a>

                <p class="lead">{{ _("ワールド巡りやフレンドと撮った写真をすぐにVRChat内でみんなで鑑賞。") }}</p>
            </div>
            <div class="col-md-5 order-md-1">
                <a href="/image/">
                    <img src="https://storage.googleapis.com/noricha-public/web-screen/image/big-icons/image.gif"
                         alt="{{ _("webページを動画に変換") }}" class="img-fluid">
                </a>
            </div>
        </div>
        <div class="row p-5 bg-light">
            <div class="col-md-7">
                <a href="/pdf/" class="text-dark">
                    <h2 class="fw-bold">{{ _("PDFを動画に変換") }}</h2>
                </a>
                <p class="lead">
                    {{ _("パワーポイントやGoogleスライドをPDFで書き出して、動画に変換すれば動画プレイヤーやスライドシステムでプレゼンを開始。") }}
                </p>
            </div>
            <div class="col-md-5 order-md-1">
                <a href="/pdf/">
                    <img src="https://storage.googleapis.com/noricha-public/web-screen/image/big-icons/pdf.png"
                         alt="{{ _("webページを動画に変換") }}" class="img-fluid">
                </a>
            </div>
        </div>
        <div class="row p-5">
            <div class="col-md-7 order-md-2">
                <a href="/record/" class="text-dark">
                    <h2 class="fw-bold">{{ _("パソコンの画面を録画") }}</h2>
                </a>
                <p class="lead">{{ _("自分のパソコンの特定の画面をVRChat内でみんなに見せたり、VRChatの録画映像をみんなで見たり、ログインが必要なWebページを共有するのにも使えます。") }}</p>
            </div>
            <div class="col-md-5 order-md-1">
                <a href="/record/">
                    <img src="https://storage.googleapis.com/noricha-public/web-screen/image/big-icons/rec.gif"
                         alt="{{ _("webページを動画に変換") }}" class="img-fluid">
                </a>
            </div>
        </div>
        <div class="row p-5 bg-light">
            <div class="col-md-7">
                <a href="/streaming/" class="text-dark">
                    <h2 class="fw-bold">{{ _("VRChatのビデオプレーヤーに画面共有") }}</h2>
                </a>
                <p class="lead">
                    {{ _("自分のパソコンの画面をVRChatの動画プレイヤーにストリーミング。作業の様子を共有したり、パソコンの画面を見ながらの説明や紹介にも使えます。") }}
                </p>
            </div>
            <div class="col-md-5">
                <a href="/streaming/">
                    <img src="https://storage.googleapis.com/noricha-public/web-screen/image/big-icons/share.gif"
                         alt="{{ _("webページを動画に変換") }}" class="img-fluid">
                </a>
            </div>
        </div>
        <div class="row p-5 pb-0">
            <div class="col-md-7 order-md-2">
                <a href="/history/" class="text-dark">
                    <h2 class="fw-bold">{{ _("履歴を確認") }}</h2>
                </a>
                <p class="lead">{{ _("履歴からは、過去14間に変換した動画のリンクやダウンロードが行えます。ダウンロードした動画はTwitterなどに投稿して共有できます。") }}</p>
            </div>
            <div class="col-md-5 order-md-1">
                <a href="/history/">
                    <img src="https://storage.googleapis.com/noricha-public/web-screen/image/big-icons/history.png"
                         alt="{{ _("webページを動画に変換") }}" class="img-fluid">
                </a>
            </div>
        </div>
    </div>
{% endblock %}