{% extends 'base.html' %}
{% block title %}Web Screen|VRChatの動画プレイヤー用にウェブページを動画化できます{% endblock %}
{% block content %}
    <div class="container">
        <section class="section mt-5 mb-5">
            <div class="row justify-content-md-center">
                <div class="col mt-3">
                    <h1 class="h1 mb-5 text-center">Web Screenの使い方</h1>
                    <div class="text-center">
                        現在、準備中...
                    </div>
                </div>

            </div>
        </section>
    </div>
{% endblock %}

{% block script %}
    <script src="/static/js/baseFunctions.js"></script>
    <script src="/static/js/index.js"></script>
{% endblock %}

{% block style %}
    <script>addEventListeners()</script>
{% endblock %}