{% extends 'base.html' %}
{% block title %}Web Screen|VRChatの動画プレイヤーに動画化した画像を表示できます{% endblock %}

{% block meta_tag %}
    <meta property="og:url" content="https://web-screen.net/image/"/>
    <meta name="description"
          content="Web ScreenはVRChatでウェブページを表示するためのシステムです。URLを入力すると動画に変換してくれます。
          変換された動画のURLをVRChat内の動画プレイヤーに貼り付けると、ウェブページを表示できます。
          ウェブページの他に画像やPDFの変換、パソコンの画面共有もできます。">
    <meta property="og:description"
          content="Web ScreenはVRChatでウェブページを表示するためのシステムです。URLを入力すると動画に変換してくれます。
          変換された動画のURLをVRChat内の動画プレイヤーに貼り付けると、ウェブページを表示できます。
          ウェブページの他に画像やPDFの変換、パソコンの画面共有もできます。">
    <meta property="og:image"
          content="https://storage.googleapis.com/noricha-public/web-screen/image/web-screen-og-image.png"/>
{% endblock %}

{% block content %}
    <div class="container">
        <section class="section mt-5">
            <div class="row justify-content-md-center">
                <div class="col mt-3">
                    <h1 class="h1 mb-5">Web Screen(Beta)</h1>
                    <h2 class="h4 mb-3">VRChatの動画プレイヤー用に画像を動画化できます</h2>
                    <h3 class="h5 mb-3">動画化したい画像を選択してください</h3>
                </div>
            </div>
            <form class="row g-3 justify-content-md-center" id="image_form" enctype="multipart/form-data">
                <div class="col-12">
                    <label for="files" class="visually-hidden">画像</label>
                    <input type="file" multiple class="form-control border border-dark" id="files" name="files"
                           placeholder="https://">
                    <div class="mt-1 text-muted">※ 複数枚選択可能。ドラッグもOK！</div>
                    <div class="mt-1 text-muted">※ 順番を設定するには01、02、03...のようにファイル名を設定してください。</div>
                    <div class="mt-3">動画のサイズ:</div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="width_height" id="16-9" value="1280x720"
                               checked>
                        <label class="form-check-label" for="16-9">
                            16:9
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="width_height" id="4-3" value="1024x768">
                        <label class="form-check-label" for="4-3">
                            4:3
                        </label>
                    </div>
                    <div class="mt-3 text-center">
                        <div id="submit" class="btn btn-primary d-block">動画を作成</div>
                    </div>
                    <div class="progress visually-hidden">
                        <div class="progress-bar bg-info" role="progressbar" id="progress_bar"
                             aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
                    </div>
                </div>
            </form>
            {% include 'result.html' %}
        </section>
    </div>
{% endblock %}
{% block script %}
    <script src="/static/js/baseFunctions.js"></script>
    <script src="/static/js/image.js"></script>
{% endblock %}
