{% extends 'base.html' %}
{% block title %}Web Screen|VRChatでローカルの複数枚の画像を表示{% endblock %}
{% block content %}
<div class="container">
    <section class="section mt-5">
        <div class="row justify-content-md-center">
            <div class="col mt-3">
                <h1 class="h1 mb-5">Web Screen</h1>
                <h2 class="h3 mb-3">画像を選択してください。</h2>
            </div>
        </div>
        <form class="row g-3 justify-content-md-center" method="post" action="/api/create_image_movie/"
              enctype="multipart/form-data">
            <div class="col-12">
                <label for="files" class="visually-hidden">画像</label>
                <input type="file" multiple class="form-control border border-dark" id="files" name="files"
                       placeholder="https://">
                <div class="mt-1 text-muted">※ 複数枚選択可能。ドラッグもOK！</div>
                <div class="mt-1 text-muted">※ 順番を設定するには01、02、03...のようにファイル名を設定してください。</div>
                <div class="form-group mt-3">
                    <label for="width">ブラウザサイズ（横×縦）</label>
                    <input type="number" class="form-inline border" id="width" name="width"
                           value="1280"> x
                    <input type="number" class="form-inline border" id="hegith" name="height"
                           value="720">
                    <label for="scroll">スクロール(px)</label>
                    <input type="number" class="form-inline border" id="scroll" name="scroll_each"
                           value="200">
                </div>
            </div>
        </form>
        {% include 'result.html' %}
    </section>
</div>
{% endblock %}
