<!doctype html>
<html lang="ja">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="apple-mobile-web-app-title" content="Web Screen(VRChat用ウェブページ動画変換アプリ)">

    <!-- Title -->
    <title>Web Screen</title>
    <!-- Required Meta Tags Always Come First -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta http-equiv="content-language" content="ja">
    <meta name="author" content="noricha">
    <link rel="canonical" href="https://web-screen.net/">
    <meta property="og:site_name" content="Web Screen(VRChat用ウェブページ動画変換アプリ)"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://web-screen.net/"/>
    <meta name="description"
          content="Web ScreenはVRChatでウェブページを表示するためのシステムです。URLを入力すると動画に変換してくれます。ウェブページの他に画像やPDFの変換、パソコンの画面共有もできます。">
    <meta property="og:description"
          content="Web ScreenはVRChatでウェブページを表示するためのシステムです。URLを入力すると動画に変換してくれます。ウェブページの他に画像やPDFの変換、パソコンの画面共有もできます。">
    <meta property="og:image" content="https://storage.googleapis.com/mojiokoshi3/image/bg/og-image.png"/>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-W7D0GRPM2Y"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'G-W7D0GRPM2Y');
    </script>
</head>
<body>
<main>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Web Screen</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">URL</a>
                        </li>
                        <!--                                                <li class="nav-item">-->
                        <!--                                                    <a class="nav-link" href="/image/">Image</a>-->
                        <!--                                                </li>-->
                        <!--                                                <li class="nav-item">-->
                        <!--                                                    <a class="nav-link" href="/desktop/">Desktop</a>-->
                        <!--                                                </li>-->
                        <li class="nav-item">
                            <a class="nav-link" href="/github/">GitHub</a>
                        </li>

                    </ul>

                </div>
            </div>
        </nav>
    </header>

    <!--    {% block content %}-->

    <div class="container">
        <section class="section mt-5">
            <div class="row justify-content-md-center">
                <div class="col mt-3">
                    <h1 class="h1 mb-5">Web Screen</h1>
                    <h2 class="h3 mb-3">動画化したいページのURLを貼り付けてください</h2>
                </div>
            </div>
            <div class="row g-3 justify-content-md-center">
                <div class="col-12">
                    <form class="form" method="get" action="/api/create_movie/">
                        <div class="col-12">
                            <label for="url" class="visually-hidden">URL</label>
                            <input type="url" class="form-control border border-dark" id="url" name="url"
                                   placeholder="https://">
                            <label for="max_page_height" class="form-label mt-3">ページの長さ（最大）<span
                                    id="max_page_height_text">5000</span>px</label>
                            <input type="range" class="form-range" id="max_page_height" name="max_page_height"
                                   min="2000" max="25000" value="5000">
                            <div class="form-group mt-3">
                                <label for="width">ブラウザのサイズ（横×縦）:</label><br/>
                                <input type="number" class="form-inline border" id="width" name="width"
                                       value="1280"> x
                                <input type="number" class="form-inline border" id="height" name="height"
                                       value="720">
                            </div>
                        </div>
                    </form>
                    <div class="mt-3">
                        <button id="submit" class="btn btn-primary">動画を作成</button>
                        <img id="loading" class="text-center visually-hidden" style="width: 150px;"
                             src="https://storage.googleapis.com/vrchat/image/loading.gif">
                    </div>
                    <div class="justify-content-md-center mt-3">
                        <div class="visually-hidden" id="result">
                            <button id="copy" class="btn btn-outline-secondary btn-sm mr-3">動画のURLをコピー</button>
                            <a id="movie_url" href=""></a>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </div>
    <!--    {% endblock %}-->

    <footer>

    </footer>
</main>

<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
-->
</body>
<footer>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col mt-3">
                <!--                <p class="text-center"><a href="">Powered by OSS集会</a></p>-->
            </div>
        </div>
    </div>
    <script>
        document.getElementById('max_page_height').addEventListener('input', function () {
            document.getElementById('max_page_height_text').innerText = document.getElementById('max_page_height').value;
        });
        // get url parameter of hash. It in to the movie url.
        const urlParams = new URLSearchParams(window.location.hash);
    </script>
    <script src="/static/js/request.js"></script>
</footer>
</html>