<section class="mt-5 bg-light p-5">
    <div class="row">
        <div class="col">
            <div class="h4">
                注意事項
            </div>
            <div>
                <ul>
                    <li>
                        アップロードした、画像やPDFファイルはサーバーに保存されません。
                    </li>
                    <li>
                        動画ファイルは14日間サーバーに保存されます。
                    </li>
                    <li>
                        動画ファイルはURLを知っている人であれば誰でもダウンロードできます。
                    </li>
                    <li>
                        動画の内容について解析を行うことはありません。
                    </li>
                    <li>
                        のりちゃんが無償で提供するものであり、変換サービスのサービスレベルに保証はありません。
                    </li>
                    <li>
                        本サービスを利用することで生じたいかなる損害についても補償致しかねます。
                    </li>
                    <li>
                        本サービスは、個人、法人、団体を問わず無償でご利用いただけます。
                    </li>
                    <li>
                        最新情報は<a href="https://twitter.com/search?q=%23WebScreen" target="_blank">
                        #WebScreen</a>をご確認ください。
                    </li>
                    <li>
                        その他、不明点がありましたら、<a href="https://twitter.com/noricha_vr" target="_blank">
                        のりちゃん</a>までお問い合わせください。<br/>
                    </li>
                    
                </ul>
            </div>
        </div>
    </div>
</section>