<div id="output-area" class="text-center visually-hidden">
    <div class="mt-3">
        <img src="https://storage.googleapis.com/noricha-public/web-screen/image/under-arrow.png"
             style="width: 50px" alt="下矢印"/><br/>
    </div>
    <button for="url" id="copy-output-url-button"
            class="btn btn-outline-primary btn-lg col-2 col-form-label mt-3">
        Copy
    </button>
    <div class="mt-2">
        <a id="output-url" href="" target="_blank">
        </a>
    </div>
    <div class="mt-4">
        「Copy」してVRChatの動画プレイヤーに貼り付けてください。<br/>
        URLをクリックすると動画を確認できます。
    </div>
</div>