<div id="output-area" class="visually-hidden">
    <div class="text-center mt-3">
        <img src="https://storage.googleapis.com/noricha-public/web-screen/image/under-arrow.png"
             style="width: 50px" alt="下矢印"/><br/>
    </div>
    <dev class="row mt-3 mb-3">
        <button for="url" id="copy-output-url-button"
                class="btn btn-outline-primary col-2 col-form-label">
            Copy
        </button>
        <div class="col-10">
            <a id="output-url" href="" target="_blank" class="form-control-plaintext">
            </a>
        </div>
    </dev>
    <div>
        👆「Copy」を選択して、VRChatの動画プレイヤーに貼り付けてください。URLをクリックすると動画を確認できます。
    </div>
</div>