{% extends 'base.html' %}
{% block title %}Web Screen|VRChatの動画プレイヤーに動画化した画像を表示できます{% endblock %}

{% block meta_tag %}
    <meta property="og:url" content="https://web-screen.net/image/"/>
    <meta name="description"
          content="Web ScreenはVRChatでウェブページを表示するためのシステムです。URLを入力すると動画に変換してくれます。
          変換された動画のURLをVRChat内の動画プレイヤーに貼り付けると、ウェブページを表示できます。
          ウェブページの他に画像やPDFの変換、パソコンの画面共有もできます。">
    <meta property="og:description"
          content="Web ScreenはVRChatでウェブページを表示するためのシステムです。URLを入力すると動画に変換してくれます。
          変換された動画のURLをVRChat内の動画プレイヤーに貼り付けると、ウェブページを表示できます。
          ウェブページの他に画像やPDFの変換、パソコンの画面共有もできます。">
    <meta property="og:image"
          content="https://storage.googleapis.com/noricha-public/web-screen/image/web-screen-og-image.png"/>
{% endblock %}

{% block content %}
    <div class="container">
        <section class="section mt-5">
            <div class="row justify-content-md-center">
                <div class="col mt-3">
                    <h1 class="h1 mb-5">本サービス利用について</h1>
                </div>
                <div>
                    
                </div>
            </div>
            <div class="">
            </div>
        </section>
    </div>
{% endblock %}