{% extends 'base.html' %}
{% block title %}Web Screen|VRChatでGithubリポジトリのソースコードを表示{% endblock %}
{% block meta_tag %}
    <meta property="og:url" content="https://web-screen.net/desktop/"/>
    <meta name="description"
          content="Web ScreenはVRChatでウェブページを表示するためのシステムです。URLを入力すると動画に変換してくれます。
          変換された動画のURLをVRChat内の動画プレイヤーに貼り付けると、ウェブページを表示できます。
          ウェブページの他に画像やPDFの変換、パソコンの画面共有もできます。">
    <meta property="og:description"
          content="Web ScreenはVRChatでウェブページを表示するためのシステムです。URLを入力すると動画に変換してくれます。
          変換された動画のURLをVRChat内の動画プレイヤーに貼り付けると、ウェブページを表示できます。
          ウェブページの他に画像やPDFの変換、パソコンの画面共有もできます。">
    <meta property="og:image"
          content="https://storage.googleapis.com/noricha-public/web-screen/image/web-screen-og-image.png"/>
{% endblock %}
{% block content %}


    <div class="container">
        <section class="section mt-5">
            <div class="row justify-content-md-center">
                <div class="col mt-3">
                    <h1 class="h1 mb-5">Web Screen(Beta)</h1>
                    <h2 class="h4 mb-3">VRChatの動画プレイヤーに画面共有できます</h2>
                </div>

            </div>
            <p>この機能はベータ版です。</p>
            <p>1. 共有ボタンを押して、共有したい画面を選択してください。</p>
            <p>
                <button class="btn btn-primary" id="start">共有開始</button>&nbsp;
                <button class="btn btn-danger visually-hidden" id="stop">停止</button>
            </p>
            <p class="mt-3">
                2. 共有を開始したら下のURLをコピーします。
            </p>
            <div class="mb-3 row form-inline" name=" result">
                <div class="col-2">
                    <button for="url" name="copy_button"
                            onclick="copyStreamingURL()" class="btn btn-outline-primary col-form-label w-100">
                        Copy
                    </button>
                </div>
                <div class="col-10">
                    <a href="" id="streaming-url" target="_blank" class="col-8 form-control-plaintext"
                       name="movie_url">
                    </a>
                </div>
            </div>
            <p class="mt-3">
                3. VRChatの動画プレイヤーの「Live」を選択して、貼り付けてください。<br/>
            </p>
            <div class="mt-5 mb-3 h5">
                【注意】
            </div>
            <p>
                読み込み直後はエラーが出ます。しばらくすると動画が再生されます。<br/>
                安定しないことがありますが、時間が経つと安定します。<br/>
                固まった時はリロードすると初めから再生されます。<br/>
                録画を開始してから再生されるまでの時間の分だけ遅延が発生します。<br/>
            </p>

            <script src="/static/js/baseFunctions.js"></script>
            <script src="/static/js/streaming.js"></script>
            {% include 'result.html' %}
        </section>
    </div>


{% endblock %}