{% extends 'base.html' %}
{% block title %}Web Screen|VRChatでGithubリポジトリのソースコードを表示{% endblock %}
{% block meta_tag %}
    <meta property="og:url" content="https://web-screen.net/desktop/"/>
    <meta name="description"
          content="Web ScreenはVRChatでウェブページを表示するためのシステムです。URLを入力すると動画に変換してくれます。
          変換された動画のURLをVRChat内の動画プレイヤーに貼り付けると、ウェブページを表示できます。
          ウェブページの他に画像やPDFの変換、パソコンの画面共有もできます。">
    <meta property="og:description"
          content="Web ScreenはVRChatでウェブページを表示するためのシステムです。URLを入力すると動画に変換してくれます。
          変換された動画のURLをVRChat内の動画プレイヤーに貼り付けると、ウェブページを表示できます。
          ウェブページの他に画像やPDFの変換、パソコンの画面共有もできます。">
    <meta property="og:image"
          content="https://storage.googleapis.com/noricha-public/web-screen/image/web-screen-og-image.png"/>
{% endblock %}
{% block content %}


    <div class="container">
        <section class="section mt-5">
            <div class="row justify-content-md-center">
                <div class="col mt-3">
                    <h1 class="h1 mb-5">Web Screen(Beta)</h1>
                    <h2 class="h4 mb-3">VRChatの動画プレイヤーに画面共有できます</h2>
                </div>

            </div>
            <p>この機能はベータ版です。</p>
            <p>1. 共有ボタンを押して、「デスクトップ全体」か「ウィンドウ」を選択してください。<br/>
                ※「Chromeタブ」は動作しません。「デスクトップ全体」が一番安定します。</p>
            <button class="btn btn-primary" id="start">共有開始</button>&nbsp;
            <button class="btn btn-danger visually-hidden" id="stop">停止</button>
            </p>
            <p class="mt-3">
                2. 共有を開始したら下のURLをコピーします。
            </p>
            <div class="mb-3 row form-inline" name=" result">
                <div class="col-2">
                    <button for="url" name="copy_button" id="copy-button"
                            class="btn btn-outline-primary visually-hidden col-form-label w-100">
                        Copy
                    </button>
                </div>
                <div class="col-10">
                    <span id="streaming-url" target="_blank" class="col-8 form-control-plaintext"
                          name="movie_url">
                    </span>
                </div>
            </div>
            <p class="mt-3">
                3. VRChatの動画プレイヤーの「Live」を選択して、貼り付けてください。
            </p>
            <p id="setup-message" class="visually-hidden"></p>
            <p>
                iwaSyncで「Invalid URL」と表示された場合は、もう一度URLを入れてください。<br/>
                それでも表示されない場合は、もう一度共有を行ってください。<br/>
                ストリーミング可能な時間は10分です。10分経過すると自動的にストリーミングが終了します。<br/>
                ストリーミング中に画面が映らなくなることがあります。リロードするか、もう一度画面共有を行ってください。<br/>
                20〜50秒の遅延があります。<br/>
                スマホの画面は共有できません。<br/>
            </p>
            <script src="/static/js/baseFunctions.js"></script>
            <script src="/static/js/streaming.js"></script>
            {% include 'result.html' %}
        </section>
    </div>


{% endblock %}