{% extends 'base.html' %}
{% block title %}{{ _("Web Screen|VRChatの動画プレイヤー用にウェブページを動画に変換") }}{% endblock %}
{% block meta_tag %}
    <meta property="og:url" content="https://web-screen.net/"/>
    <meta name="description"
          content="{{ _("Web ScreenはWeb、画像、PDFをVRChatで見れる動画に変換するサービスです。") }}
          {{ _("このページではWebページを動画に変換できます。") }}
          {{ _("変換された動画のURLをVRChat内の動画プレイヤーに貼り付けると、VRChat内でフレンドと共有できます。") }}">
    <meta property="og:description"
          content="{{ _("Web ScreenはWeb、画像、PDFをVRChatで見れる動画に変換するサービスです。") }}
          {{ _("変換された動画のURLを取得できます。動画のURLをVRChat内の動画プレイヤーに貼り付けるとVRChat内でフレンドと共有できます。") }}
          {{ _("更に、パソコンの画面録画や画面共有もでき便利な機能があります。") }}">
    <meta property="og:image"
          content="{{ _("https://storage.googleapis.com/noricha-public/web-screen/image/og-image/web-screen-ja.webp") }}"/>
    <meta property="og:type" content="article"/>
{% endblock %}
{% block content %}
    <div class="container">
        <section class="section mt-5">
            <div class="row mb-4">
                <div class="col text-center">

                    <h1 class="h1 mb-3">{{ _("Webページを動画に変換") }}</h1>
                    <h2 class="h6 text-secondary">{{ _("ウェブページを動画化し、VRChatの動画プレイヤーで再生できます") }}</h2>
                </div>
            </div>
            <div class="row g-3 justify-content-md-center">
                <div class="col-12 bg-light border p-5 rounded shadow">
                    <h3 class="h5 mb-3">{{ _("動画化したいWebページのURLを貼り付けてください") }}</h3>
                    <form class="form">
                        <div class="mb-3 row" style="margin-left: 0px">
                            <div for="url" id="paste_button" class="btn btn-secondary col-3 col-sm-2 col-form-label">
                                {{ _("貼り付け") }}
                            </div>
                            <div class="col-9 col-sm-10">
                                <input type="url" class="col-10 form-control  border border-dark" id="url" name="url"
                                       placeholder="https://">
                            </div>
                        </div>
                        <label for="page_height_slider" class="form-label mt-3">{{ _("ページの長さ（最大）") }}:<span
                                id="page_height_label">5000</span>px</label>
                        <input type="range" class="form-range" id="page_height_slider" name="max_page_height" min="2000"
                               max="25000" value="5000">

                        <div class="row">

                            <div class="col">
                                <div>{{ _("待ち時間: (ページの読み込みが正しくできなかった時は秒数を長くしてください。）") }}</div>
                                <div class="form-check-inline">
                                    <input class="form-check-input" type="radio" name="wait_time" id="wait-1"
                                           value="1" checked>
                                    <label class="form-check-label" for="wait-1">
                                        {{ _("1秒") }}
                                    </label>
                                </div>

                                <div class="form-check-inline">
                                    <input class="form-check-input" type="radio" name="wait_time" id="wait-5"
                                           value="5">
                                    <label class="form-check-label" for="wait-5">
                                        {{ _("5秒") }}
                                    </label>
                                </div>

                                <div class="form-check-inline">
                                    <input class="form-check-input" type="radio" name="wait_time" id="wait-10"
                                           value="10">
                                    <label class="form-check-label" for="wait-10">
                                        {{ _("10秒") }}
                                    </label>
                                </div>
                                <div class="form-check-inline">
                                    <input class="form-check-input" type="radio" name="wait_time" id="wait-15"
                                           value="15">
                                    <label class="form-check-label" for="wait-15">
                                        {{ _("15秒") }}
                                    </label>
                                </div>
                            </div>

                        </div>
                        <div class="mt-3 text-center">
                            <div id="submit" class="btn btn-primary d-block">{{ _("動画に変換") }}</div>
                        </div>
                        <div class="progress visually-hidden">
                            <div class="progress-bar bg-info" role="progressbar" id="progress_bar" aria-valuenow="0"
                                 aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
                        </div>
                    </form>
                    {% include 'output-area.html' %}
                </div>
            </div>
            {% include 'how-to/web.html' %}
        </section>
        {% include 'note.html' %}
    </div>
{% endblock %}

{% block script %}
    <script src="/static/js/util.js"></script>
    <script src="/static/js/baseFunctions.js"></script>
    <script src="/static/js/web.js"></script>
{% endblock %}