<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ title }} - Main</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
<div id="pageheader" class="pagebanner">
    <p>{{ _( 'IBM QRadar Application : Hello World' ) }}</p>
</div>

<div id="contentpane">
    <p>{{ _( 'Hello! and Welcome to the first Qradar app served from the AppFramework/Docker instance on your console' ) }}</p>
</div>

<div class="news-wrapper">
    <p class="quote">{{ _( 'Hello World' ) }}</p>
</div>

</body>
</html>