<div class="row mt-5">
    <div class="col text-center mb-3">
        <h2>使い方</h2>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card" class="m-1" style="">
            <h3 class="h4 card-header mb-3 text-center">Step 1</h3>
            <div class="text-center">
                <img src="https://storage.googleapis.com/noricha-public/web-screen/image/icon/copy.png"
                     class="card-img-top"
                     alt="..." style="width: 125px" class="text-center">
            </div>
            <div class="card-body">
                <p class="card-text">「録画開始」を押して、共有したい画面を選択します。
                </p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" class="m-1" style="">

            <h3 class="h4 card-header mb-3 text-center">Step 2</h3>
            <div class="text-center">
                <img src="https://storage.googleapis.com/noricha-public/web-screen/image/icon/convert.png"
                     class="card-img-top"
                     alt="..." style="width: 125px" class="text-center">
            </div>
            <div class="card-body">
                <p class="card-text">録画したい画面を表示して、しばらく撮影を続けたら「停止」を押します。</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" class="m-1" style="">
            <h3 class="h4 card-header mb-3 text-center">Step 3</h3>
            <div class="text-center">
                <img src="https://storage.googleapis.com/noricha-public/web-screen/image/icon/play.png"
                     class="card-img-top"
                     alt="..." style="width: 125px" class="text-center">
            </div>
            <div class="card-body">
                <p class="card-text">
                    「Copy」を押してURLをVRChatの動画プレイヤーに貼り付けます。
                </p>
            </div>
        </div>
    </div>
</div>
