<div class="row mt-5">
    <div class="col text-center mb-3">
        <h2>{{ _("使い方") }}</h2>
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-4 mb-3">
        <div class="card" class="m-1" style="">
            <h3 class="h4 card-header mb-3 text-center">Step 1</h3>
            <div class="text-center">
                <img src="https://storage.googleapis.com/noricha-public/web-screen/image/icon/copy.png"
                     class="card-img-top"
                     alt="..." style="width: 125px" class="text-center">
            </div>
            <div class="card-body">
                <p class="card-text">{{ _("「画面共有」を押して、「画面全体」を選択します。") }}
                </p>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4 mb-3">
        <div class="card" class="m-1" style="">
            <h3 class="h4 card-header mb-3 text-center">Step 2</h3>
            <div class="text-center">
                <img src="https://storage.googleapis.com/noricha-public/web-screen/image/icon/convert.png"
                     class="card-img-top"
                     alt="..." style="width: 125px" class="text-center">
            </div>
            <div class="card-body">
                <p class="card-text">{{ _("「Copy」を押してURLをコピーします") }}</p>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4 mb-3">
        <div class="card" class="m-1" style="">
            <h3 class="h4 card-header mb-3 text-center">Step 3</h3>
            <div class="text-center">
                <img src="https://storage.googleapis.com/noricha-public/web-screen/image/icon/play.png"
                     class="card-img-top"
                     alt="..." style="width: 125px" class="text-center">
            </div>
            <div class="card-body">
                <p class="card-text">
                    {{ _("VRChatの動画プレイヤーの「LIVE」を選択して、URLを貼り付けます。") }}
                </p>
            </div>
        </div>
    </div>
</div>
