<div class="row mt-5">
    <div class="col text-center mb-3">
        <h2>使い方</h2>
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-4 mb-3">
        <div class="card" class="m-1" style="">
            <h3 class="h4 card-header mb-3 text-center">Step 1</h3>
            <div class="text-center">
                <img src="https://storage.googleapis.com/noricha-public/web-screen/image/icon/copy.png"
                     class="card-img-top"
                     alt="..." style="width: 125px" class="text-center">
            </div>
            <div class="card-body">
                <p class="card-text">共有したいウェブページを開いて、URLをコピーします。</p>
            </div>

        </div>
    </div>
    <div class="col-12 col-md-4 mb-3">
        <div class="card" class="m-1" style="">
            <h3 class="h4 card-header mb-3 text-center">Step 2</h3>
            <div class="text-center">
                <img src="https://storage.googleapis.com/noricha-public/web-screen/image/icon/convert.png"
                     class="card-img-top"
                     alt="..." style="width: 125px" class="text-center">
            </div>
            <div class="card-body">
                <p class="card-text">WebScreeの「貼り付け」ボタンを押してURLを貼り付けます。</p>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4 mb-3">
        <div class="card" class="m-1" style="">
            <h3 class="h4 card-header mb-3 text-center">Step 3</h3>
            <div class="text-center">
                <img src="https://storage.googleapis.com/noricha-public/web-screen/image/icon/play.png"
                     class="card-img-top"
                     alt="..." style="width: 125px" class="text-center">
            </div>
            <div class="card-body">
                <p class="card-text">
                    「Copy」を押してURLをVRChatの動画プレイヤーに貼り付けます。
                </p>
            </div>
        </div>
    </div>
</div>
